{% extends 'base.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('build/css/slider.css') }}"/>
        <link rel="stylesheet" href="{{ asset('build/css/chart.css') }}"/>
    {% endblock %}
{% block body %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="sidebar-header text-center">
                <img class="fixed" src="{{ asset('build/images/zurich-logo.png') }}" alt="">
            </div>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user-edit"></i> Max Mustermann</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('selectuser') }}"><i class="fas fa-users"></i> Kunden</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}"><i class="fas fa-sign-out-alt"></i> Abmelden</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Bedarfs- und Risikoanalyse</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5 class="card-title">Linde Material Handling GmbH
                    <a data-toggle="collapse" href="#collapse_company" role="button" aria-expanded="false" aria-controls="collapse_company"><i class="fas fa-edit"></i></a>
                </h5>
            </div>
            <div class="col text-right">
                <a href="#" class="btn btn-primary"><i class="fas fa-envelope"></i> E-Mail senden</a>
                <a href="#" class="btn btn-primary"><i class="fas fa-file-pdf"></i> PDF erzeugen</a>
            </div>
        </div>
        <div class="collapse" id="collapse_company">
            <div class="card mt-5">
                <div class="card-header">
                    <h5>Unternehmensdaten
                        <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_1') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text"><strong>Was ist die aktuelle Situation in Ihrem Unternehmen?</strong></p>
                        Eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Was sind Ihre Wünsche, Ziele und Erwartungen an das heutige Gespräch?</strong></p>
                        Dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    </li>
                </ul>
                <div class="card-footer">
                    <label for="note">Notizen</label>
                    <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="row">
            <div class="col">
                <a href="#">
                    <div id="card_company" class="card card-item pull-up active" data-toggle="collapse" href="#collapse_cards_company" role="button" aria-expanded="false" aria-controls="collapse_cards_company">
                        <div class="card-header">
                            <h5 class="card-title text-center"><i class="fa fa-shield"></i> Absicherung des Unternehmens</h5>
                        </div>
                        <div class="card-body">
                            <canvas id="chart_company" class="chart" width="80%" height="80%"></canvas>
                            <div class="percent"><span id="company_percent">50</span>%</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div id="card_decider" class="card card-item pull-up" data-toggle="collapse" href="#collapse_cards_decider" role="button" aria-expanded="false" aria-controls="collapse_cards_decider">
                        <div class="card-header">
                            <h5 class="card-title text-center"><i class="fa fa-shield"></i> Absicherung des Entscheiders</h5>
                        </div>
                        <div class="card-body">
                            <canvas id="chart_decider" class="chart" width="80%" height="80%"></canvas>
                            <div class="percent"><span id="decider_percent">50</span>%</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div id="card_staff" class="card card-item pull-up" data-toggle="collapse" href="#collapse_cards_staff" role="button" aria-expanded="false" aria-controls="collapse_cards_staff">
                        <div class="card-header">
                            <h5 class="card-title text-center"><i class="fa fa-shield"></i> Absicherung der Mitarbeiter</h5>
                        </div>
                        <div class="card-body">
                            <canvas id="chart_staff" class="chart" width="80%" height="80%"></canvas>
                            <div class="percent"><span id="staff_percent">50</span>%</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="collapse show" id="collapse_cards_company">
            <div class="card-columns analyse">
                <div class="card mt-3">
                    <div class="card-header">
                        <h5>Absicherung Ihrer Haftungsrisiken
                            <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_2') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <label for="note">Notizen</label>
                        <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                        <div>
                            <label  for="">Absicherung</label>
                            <div class="alert"></div>
                            <div id="slider2" class="slider-company noUi-av noUi-ltr noUi-horizontal mt-2"></div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <h5>Absicherung Ihrer Gebäude-Werte
                            <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_3') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <label for="note">Notizen</label>
                        <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                        <div>
                            <label  for="">Absicherung</label>
                            <div class="alert"></div>
                            <div id="slider3" class="slider-company noUi-av noUi-ltr noUi-horizontal mt-2"></div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <h5>Absicherung Ihrer Inhalt-Werte
                            <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_4') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <label for="note">Notizen</label>
                        <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                        <div>
                            <label  for="">Absicherung</label>
                            <div class="alert"></div>
                            <div id="slider4" class="slider-company noUi-av noUi-ltr noUi-horizontal mt-2"></div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <h5>Absicherung Ihrer Elektronik/Maschinen-Werte
                            <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_5') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <label for="note">Notizen</label>
                        <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                        <div>
                            <label  for="">Absicherung</label>
                            <div class="alert"></div>
                            <div id="slider5" class="slider-company noUi-av noUi-ltr noUi-horizontal mt-2"></div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <h5>Absicherung bei einer Unterbrechung Ihres Betriebes
                            <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_6') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <label for="note">Notizen</label>
                        <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                        <label  for="">Absicherung</label>
                        <div class="alert"></div>
                        <div id="slider6" class="slider-company noUi-av noUi-ltr noUi-horizontal mt-2"></div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <h5>Absicherung Ihrer Kosten bei Rechtsangelegenheiten
                            <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_7') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <label for="note">Notizen</label>
                        <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                        <label  for="">Absicherung</label>
                        <div class="alert"></div>
                        <div id="slider7" class="slider-company noUi-av noUi-ltr noUi-horizontal mt-2"></div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <h5>Absicherung Ihrer Transporte
                            <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_8') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <label for="note">Notizen</label>
                        <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                        <label  for="">Absicherung</label>
                        <div class="alert"></div>
                        <div id="slider8" class="slider-company noUi-av noUi-ltr noUi-horizontal mt-2"></div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <h5>Absicherung Ihrer Kfz-Risiken
                            <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_9') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <label for="note">Notizen</label>
                        <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                        <label  for="">Absicherung</label>
                        <div class="alert"></div>
                        <div id="slider9" class="slider-company noUi-av noUi-ltr noUi-horizontal mt-2"></div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <h5>Absicherung Ihrer Spezial-Risiken
                            <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_10') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <label for="note">Notizen</label>
                        <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                        <label  for="">Absicherung</label>
                        <div class="alert"></div>
                        <div id="slider10" class="slider-company noUi-av noUi-ltr noUi-horizontal mt-2"></div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <h5>Offene Punkte und weiteres Vorgehen
                            <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_13') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <textarea class="form-control mb-2" name="note" id="note" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse" id="collapse_cards_decider">
            <div class="card-columns analyse">
                <div class="card mt-3">
                    <div class="card-header">
                        <h5>Vorsorge und Absicherung Belegschaft / Inhabers / GGf / etc.
                            <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_12') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <label for="note">Notizen</label>
                        <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                        <label  for="">Absicherung</label>
                        <div class="alert"></div>
                        <div id="slider_12" class="slider-decider noUi-av noUi-ltr noUi-horizontal mt-2"></div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <h5>Offene Punkte und weiteres Vorgehen
                            <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_13') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <textarea class="form-control mb-2" name="note" id="note" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse" id="collapse_cards_staff">
            <div class="card-columns analyse">
                <div class="card mt-3">
                    <div class="card-header">
                        <h5>Absicherung Ihrer Mitarbeiter
                            <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_11') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <label for="note">Notizen</label>
                        <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                        <label  for="">Absicherung</label>
                        <div class="alert"></div>
                        <div id="slider11" class="slider-staff noUi-av noUi-ltr noUi-horizontal mt-2"></div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        <h5>Offene Punkte und weiteres Vorgehen
                            <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_13') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <textarea class="form-control mb-2" name="note" id="note" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}