{% extends 'base.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('build/css/slider.css') }}"/>
    {% endblock %}
{% block body %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="sidebar-header text-center">
                <img class="fixed" src="{{ asset('build/images/zurich-logo.png') }}" alt="">
            </div>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user-edit"></i> Max Mustermann</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('selectuser') }}"><i class="fas fa-users"></i> Kunden</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}"><i class="fas fa-sign-out-alt"></i> Abmelden</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Bedarfs- und Risikoanalyse</h2>
            </div>
            <div class="col text-right">
                <a href="#" class="btn btn-primary"><i class="fas fa-envelope"></i> E-Mail senden</a>
                <a href="#" class="btn btn-primary"><i class="fas fa-file-pdf"></i> PDF erzeugen</a>
            </div>
        </div>
        <strong>Linde Material Handling GmbH</strong>
        <address>
            Heinrich Heine Platz 84<br>
            99722 Nordhausen<br>
        </address>
        <div class="line"></div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary btn-block">Risiken des Unternehmens</button>
            </div>
            <div class="col">
                <button class="btn btn-outline-primary btn-block">Risiken des Entscheiders</button>
            </div>
            <div class="col">
                <button class="btn btn-outline-primary btn-block">Risiken der Mitarbeiter</button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="ct-chart-company mt-5 mb-5"></div>
            </div>
            <div class="col">
                <div class="ct-chart-decider mt-5 mb-5"></div>
            </div>
            <div class="col">
                <div class="ct-chart-staff mt-5 mb-5"></div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="dot-risk" style="color: #fff;"></div><span class="text-risk">&nbsp;Kein oder nocht ausreichender Versicherungschutz</span>
            </div>
            <div class="col">
                <div class="dot-tocheck" style="color: #fff"></div><span class="text-tocheck">&nbsp;Absicherung ist zu Überprüfen</span>
            </div>
            <div class="col">
                <div class="dot-safe" style="color: #fff"></div><span class="text-safe">&nbsp;Versicherungsschutz in Ordnung und ausreichend</span>
            </div>
            <div class="col">
                <div class="dot-notrelevant" style="color: #fff;"></div><span class="text-notrelevant">&nbsp;Das risiko ist nicht Bestandteil des Unternehmens</span>
            </div>
        </div>
        <div class="card-columns analyse">
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Unternehmensdaten
                        <span class="float-sm-right">
                            <a class="btn btn-danger ml-1" href="#"><i class="fas fa-eye-slash"></i> ausblenden</a>
                        </span>
                        <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_1') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text"><strong>Was ist die aktuelle Situation in Ihrem Unternehmen?</strong></p>
                        Eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Was sind Ihre Wünsche, Ziele und Erwartungen an das heutige Gespräch?</strong></p>
                        Dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    </li>
                </ul>
                <div class="card-footer">
                    <label for="note">Notizen</label>
                    <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Absicherung Ihrer Haftungsrisiken
                        <span class="float-sm-right">
                            <a class="btn btn-danger ml-1" href="#"><i class="fas fa-eye-slash"></i> ausblenden</a>
                        </span>
                        <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_2') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text"><strong>Versicherungssumme Betriebshaftpflicht</strong></p>
                        500.000€
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Reparieren bzw. warten Sie Kundeneigentum auf Ihrem Grundstück?</strong></p>
                        <i class="fas fa-check"></i> JA
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Haben Sie Arbeisgeräte / Werkzeuge gemietet, für die Sie die Gefahr tragen? (Mietsachschäden beweglich)</strong></p>
                        <i class="fas fa-check"></i> JA
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Werden Ihrer Arbeitsmaschinen / Stapler auch außerhalb Ihres Betriebsgrundstückes eingesetzt? (Sondergenehmigung / AKB_Deckung)</strong></p>
                        <i class="fas fa-times"></i> NEIN
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Reparieren bzw. warten Sie Kundeneigentum auf Ihrem Grundstück?</strong></p>
                        <i class="fas fa-check"></i> JA
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Reparieren bzw. warten Sie Kundeneigentum auf Ihrem Grundstück?</strong></p>
                        <i class="fas fa-check"></i> JA
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Reparieren bzw. warten Sie Kundeneigentum auf Ihrem Grundstück?</strong></p>
                        <i class="fas fa-check"></i> JA
                    </li>
                </ul>
                <div class="card-footer">
                    <label for="note">Notizen</label>
                    <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                    <div>
                        <label  for="">Absicherung</label>
                        <div class="alert"></div>
                        <div id="slider1" class="noUi-av noUi-ltr noUi-horizontal mt-2"></div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Absicherung Ihrer Gebäude-Werte
                        <span class="float-sm-right">
                            <a class="btn btn-danger ml-1" href="#"><i class="fas fa-eye-slash"></i> ausblenden</a>
                        </span>
                        <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_3') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text"><strong>Was ist die aktuelle Situation in Ihrem Unternehmen?</strong></p>
                        Eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Was sind Ihre Wünsche, Ziele und Erwartungen an das heutige Gespräch?</strong></p>
                        Dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    </li>
                </ul>
                <div class="card-footer">
                    <label for="note">Notizen</label>
                    <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                    <div>
                        <label  for="">Absicherung</label>
                        <div class="alert"></div>
                        <div id="slider2" class="noUi-av noUi-ltr noUi-horizontal mt-2"></div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Absicherung Ihrer Inhalt-Werte
                        <span class="float-sm-right">
                            <a class="btn btn-danger ml-1" href="#"><i class="fas fa-eye-slash"></i> ausblenden</a>
                        </span>
                        <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_4') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text"><strong>Was ist die aktuelle Situation in Ihrem Unternehmen?</strong></p>
                        Eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Was sind Ihre Wünsche, Ziele und Erwartungen an das heutige Gespräch?</strong></p>
                        Dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    </li>
                </ul>
                <div class="card-footer">
                    <label for="note">Notizen</label>
                    <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                    <div>
                        <label  for="">Absicherung</label>
                        <div class="alert"></div>
                        <div id="slider3" class="noUi-av noUi-ltr noUi-horizontal mt-2"></div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Absicherung Ihrer Elektronik/Maschinen-Werte
                        <span class="float-sm-right">
                            <a class="btn btn-danger ml-1" href=""><i class="fas fa-eye-slash"></i> ausblenden</a>
                        </span>
                        <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_5') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text"><strong>Was ist die aktuelle Situation in Ihrem Unternehmen?</strong></p>
                        Eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Was sind Ihre Wünsche, Ziele und Erwartungen an das heutige Gespräch?</strong></p>
                        Dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    </li>
                </ul>
                <div class="card-footer">
                    <label for="note">Notizen</label>
                    <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                    <div>
                        <label  for="">Absicherung</label>
                        <div class="alert"></div>
                        <div id="slider4" class="noUi-av noUi-ltr noUi-horizontal mt-2"></div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Absicherung bei einer Unterbrechung Ihres Betriebes
                        <span class="float-sm-right">
                            <a class="btn btn-danger ml-1" href="#"><i class="fas fa-eye-slash"></i> ausblenden</a>
                        </span>
                        <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_6') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text"><strong>Was ist die aktuelle Situation in Ihrem Unternehmen?</strong></p>
                        Eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Was sind Ihre Wünsche, Ziele und Erwartungen an das heutige Gespräch?</strong></p>
                        Dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    </li>
                </ul>
                <div class="card-footer">
                    <label for="note">Notizen</label>
                    <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                    <label class="text-safe" for="">Absicherung</label>
                    <div id="slider6" class="noUi-target noUi-ltr noUi-horizontal mt-2"></div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Absicherung Ihrer Kosten bei Rechtsangelegenheiten
                        <span class="float-sm-right">
                            <a class="btn btn-danger ml-1" href="#"><i class="fas fa-eye-slash"></i> ausblenden</a>
                        </span>
                        <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_8') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text"><strong>Sie sind aktuell in folgenden Rechtsbereichen abgesichert</strong></p>
                        Privat
                    </li>
                    <li class="list-group-item">
                        Haus- und Grundbesitz vermietet
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Anstellungsvertrag-RS für die Geschäftsführung</strong></p>
                        <i class="fas fa-check"></i> JA
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Versicherungssumme</strong></p>
                        500.000€
                    </li>
                </ul>
                <div class="card-footer">
                    <label for="note">Notizen</label>
                    <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>

                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Absicherung Ihrer Transporte
                        <span class="float-sm-right">
                            <a class="btn btn-success ml-1" href="#"><i class="fas fa-eye"></i> wiederherstellen</a>
                        </span>
                        <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_8') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                    </h5>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Absicherung Ihrer Kfz-Risiken
                        <span class="float-sm-right">
                            <a class="btn btn-success ml-1" href="#"><i class="fas fa-eye"></i> wiederherstellen</a>
                        </span>
                            <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_8') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                    </h5>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Absicherung Ihrer Spezial-Risiken
                        <span class="float-sm-right">
                            <a class="btn btn-danger ml-1" href="#"><i class="fas fa-eye-slash"></i> ausblenden</a>
                        </span>
                        <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_10') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text"><strong>Wie hoch schätzen Sie das Risiko von Zahlungsausfällen durch Ihre geverblicken Kunden ein?</strong></p>
                        sehr hoch
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Werden von Ihren Kunden Bürgschäften eingefordert?</strong></p>
                        <i class="fas fa-check"></i> JA
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Welche Folgen können Datenklau und Datenmissbrauch bei Ihnen haben (Cyber-Attacken)?</strong></p>
                        Es wäre dramatisch
                    </li>
                </ul>
                <div class="card-footer">
                    <label for="note">Notizen</label>
                    <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                    <div>
                        <label for="">Risiko</label>
                    </div>
                    <div class="mt-4">
                        <label for="">Absicherung</label>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Absicherung Ihrer Mitarbeiter
                        <span class="float-sm-right">
                            <a class="btn btn-danger ml-1" href="{{ path('form_11') }}"><i class="fas fa-eye-slash"></i> ausblenden</a>
                        </span>
                        <span class="float-sm-right">
                            <a class="btn btn-primary" href="#"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text"><strong>Was ist die aktuelle Situation in Ihrem Unternehmen?</strong></p>
                        Eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Was sind Ihre Wünsche, Ziele und Erwartungen an das heutige Gespräch?</strong></p>
                        Dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    </li>
                </ul>
                <div class="card-footer">
                    <label for="note">Notizen</label>
                    <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                    <div>
                        <label for="">Risiko</label>
                        <div id="slider_1454" class="noUi-av noUi-ltr noUi-horizontal mt-2"></div>
                    </div>
                    <div class="mt-4">
                        <label for="">Absicherung</label>
                        <div id="slider_114545" class="slider noUi-ltr noUi-horizontal mt-2"></div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Vorsorge und Absicherung Belegschaft / Inhabers / GGf / etc.
                        <span class="float-sm-right">
                            <a class="btn btn-danger ml-1" href="#"><i class="fas fa-eye-slash"></i> ausblenden</a>
                        </span>
                        <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_12') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text"><strong>Was ist die aktuelle Situation in Ihrem Unternehmen?</strong></p>
                        Eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><strong>Was sind Ihre Wünsche, Ziele und Erwartungen an das heutige Gespräch?</strong></p>
                        Dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    </li>
                </ul>
                <div class="card-footer">
                    <label for="note">Notizen</label>
                    <textarea class="form-control mb-2" name="note" id="note" rows="2"></textarea>
                    Absicherung
                    <div id="slider_12" class="noUi-target noUi-ltr noUi-horizontal mt-2"></div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Offene Punkte und weiteres Vorgehen
                        <span class="float-sm-right">
                            <a class="btn btn-danger ml-1" href="#"><i class="fas fa-eye-slash"></i> ausblenden</a>
                        </span>
                        <span class="float-sm-right">
                            <a class="btn btn-primary" href="{{ path('form_13') }}"><i class="fas fa-edit"></i> bearbeiten</a>
                        </span>
                    </h5>
                </div>
                <div class="card-body">
                    <textarea class="form-control mb-2" name="note" id="note" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        noUiSlider.create(slider1, {
            connect: [true, false],
            start: 5,
            step: 1,
            range: {
                min: 0,
                max: 10
            },
            pips: {
                mode: 'count',
                values: 11,
                density: 11
            }
        });

        var pips = slider1.querySelectorAll('.noUi-value');

        function clickOnPip() {
            var value = Number(this.getAttribute('data-value'));
            slider1.noUiSlider.set(value);
        }

        for (var i = 0; i < pips.length; i++) {

            // For this example. Do this in CSS!
            pips[i].style.cursor = 'pointer';
            pips[i].addEventListener('click', clickOnPip);
        }

        slider1.noUiSlider.on('update', function (values, handle) {
            getLegend(this.target.id, values[handle]);
        });

        noUiSlider.create(slider2, {
            connect: [true, false],
            start: 5,
            step: 1,
            range: {
                min: 0,
                max: 10
            },
            pips: {
                mode: 'count',
                values: 11,
                density: 11
            }
        });

        slider2.noUiSlider.on('update', function (values, handle) {
            getLegend(this.target.id, values[handle]);
        });

        noUiSlider.create(slider3, {
            connect: [true, false],
            start: 5,
            step: 1,
            range: {
                min: 0,
                max: 10
            },
            pips: {
                mode: 'count',
                values: 11,
                density: 11
            }
        });

        slider3.noUiSlider.on('update', function (values, handle) {
            getLegend(this.target.id, values[handle]);
        });

        noUiSlider.create(slider4, {
            connect: [true, false],
            start: 5,
            step: 1,
            range: {
                min: 0,
                max: 10
            },
            pips: {
                mode: 'count',
                values: 11,
                density: 11
            }
        });


        slider4.noUiSlider.on('update', function (values, handle) {
            getLegend(this.target.id, values[handle]);
        });
        function getLegend(id, score) {
            console.log(id);
            let slider_id = '#' + id;

            console.log(slider_id);

            if (score < 1) {
                $(slider_id).prev('.alert').replaceWith('<div class="alert alert-danger d-flex align-content-end flex-wrap" role="alert"><i class="fas fa-times-circle fa-2x text-danger"></i><strong class="slider-text"> Kein Versicherungsshutz</strong></div>');
            }

            else if (score > 0 && score < 5 ) {
                $(slider_id).prev('.alert').replaceWith('<div class="alert alert-danger d-flex align-content-end flex-wrap" role="alert"><i class="fas fa-times-circle fa-2x text-danger"></i><strong class="slider-text"> nicht ausreichender Versicherungsschutz</strong></div>');
            }

            else if (score > 4 && score < 10 ) {
                $(slider_id).prev('.alert').replaceWith('<div class="alert alert-warning d-flex align-content-end flex-wrap" role="alert"><i class="fas fa-exclamation-circle fa-2x text-warning"></i><strong class="slider-text"> Absicherung ist zu Überprüfen</strong></div>');
            }

            else if (score > 9 ) {
                $(slider_id).prev('.alert').replaceWith('<div class="alert alert-success d-flex align-content-end flex-wrap" role="alert"><i class="fas fa-check-circle fa-2x text-success"></i><strong class="slider-text"> Versicherungsschutz in Ordnung und ausreichend</strong></div>');
            }
        }

        var data1 = {
            labels: ['Sachsubstanz', 'Ertragsausfall', 'Haftungsrisiken'],
            series: [33, 33, 33],
        };

        var data2 = {
            labels: ['Vorsorge', 'Haftung', 'Private Risiken', 'Unfall', 'Gesundheit/Pflege'],
            series: [20, 20, 20, 20, 20],
        };

        var data3 = {
            labels: ['Krankenversicherung', 'Unfallschutz', 'Altersvorsorge'],
            series: [33, 33, 33],
        };

        var options = {
            height: '300px',
            labelInterpolationFnc: function(value) {
                return value[0]
            }
        };

        var responsiveOptions = [
            ['screen and (min-width: 640px)', {
                chartPadding: 30,
                labelOffset: 10,
                labelInterpolationFnc: function(value) {
                    return value;
                }
            }],
            ['screen and (min-width: 1024px)', {
                labelOffset: 20,
                chartPadding: 0,
            }]
        ];

        new Chartist.Pie('.ct-chart-company', data1, options, responsiveOptions);
        new Chartist.Pie('.ct-chart-decider', data2, options, responsiveOptions);
        new Chartist.Pie('.ct-chart-staff', data3, options, responsiveOptions);

        $( document ).ready(function() {

        });

    </script>
{% endblock javascripts  %}