{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <img src="{{ asset('build/images/zurich-logo.png') }}" alt="">
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="{{ path('form_1') }}">Unternehmensdaten</a>
                </li>
                <li>
                    <a href="{{ path('form_2') }}">Haftungsrisiken</a>
                </li>
                <li class="active">
                    <a href="{{ path('form_3') }}">Gebäude-Werte</a>
                </li>
                <li>
                    <a href="{{ path('form_4') }}">Inhalt-Werte</a>
                </li>
                <li>
                    <a href="{{ path('form_5') }}">Elektronik/Maschinen-Werte</a>
                </li>
                <li>
                    <a href="{{ path('form_6') }}">Unterbrechung Ihres Betriebes</a>
                </li>
                <li>
                    <a href="{{ path('form_7') }}">Kosten bei Rechtsangelegenheiten</a>
                </li>
                <li>
                    <a href="{{ path('form_8') }}">Transporte</a>
                </li>
                <li>
                    <a href="{{ path('form_9') }}">Kfz-Risiken</a>
                </li>
                <li>
                    <a href="{{ path('form_10') }}">Spezial-Risiken</a>
                </li>
                <li>
                    <a href="{{ path('form_11') }}">Mitarbeiter</a>
                </li>
                <li>
                    <a href="{{ path('form_12') }}">Belegschaft / Inhabers / GGf / etc.</a>
                </li>
                <li>
                    <a href="{{ path('form_13') }}">Offene Punkte und weiteres Vorgehen</a>
                </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a  href="{{ path('analyse') }}" class="resume mt-3"><i class="fas fa-sliders-h"></i> Analyse</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <ul class="nav navbar-nav navbar-expand ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('selectuser') }}"><i class="fas fa-users"></i> Kunden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}"><i class="fas fa-sign-out-alt"></i> Abmelden</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Absicherung Ihrer Gebäude-Werte</h3>
                    </div>
                </div>
                <div class="ct-chart-form-3 mt-3"></div>
                <div class="line"></div>
                <form>
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <div class="card">
                                <div class="card-body aligner">
                                    <div class="aligner-item">
                                        <label for="user">Wieviel Gebäude haben Sie versichert?</label>
                                            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xl-6">
                            <div class="card">
                                <div class="card-body aligner">
                                    <div class="aligner-item">
                                        <label for="user">Die Anschrift für dieses Gebäude lautet</label>
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <div class="card pt-4">
                                <a class="info-button" href="#"><i class="fa fa-info-circle"></i></a>
                                <div class="card-body aligner">
                                    <div class="row align-items-center">
                                        <label class="col-sm-9 col-form-label" for="user">Was müssten Sie heute bezahlen, um Ihr Gebäude neuwertig aufzubauen</label>
                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">€</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xl-6">
                            <div class="card">
                                <div class="card-body aligner">
                                    <div class="row aligner-item">
                                        <label class="col-sm-9 col-form-label" for="user">Ihre aktuelle Versicherungsumme lautet</label>
                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">€</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <div class="card">
                                <div class="card-body aligner">
                                    <div class="aligner-item">
                                        <label for="user">Folgende Gefahren sind versichert</label>
                                        <div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">Feuer</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2">ED</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                                <label class="custom-control-label" for="customCheck3">Lw</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                                <label class="custom-control-label" for="customCheck4"> St/H</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                                <label class="custom-control-label" for="customCheck4"> Ele</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                                <label class="custom-control-label" for="customCheck4"> Erweitere Deckung</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                                <label class="custom-control-label" for="customCheck4"> unbenannte Gefahren</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <label for="place">Notizen</label>
                                    <textarea type="text-area" class="form-control" id="place" rows="3" placeholder=""></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 float-sm-right text-right mb-5">
                            <a href="#" class="btn btn-success">Speichern</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var data1 = {
            labels: ['Sachsubstanz', 'Ertragsausfall', 'Haftungsrisiken'],
            series: [33, 33, 33],
        };

        var options = {
            height: '300px',
            labelInterpolationFnc: function(value) {
                return value[0]
            }
        };

        var responsiveOptions = [
            ['screen and (min-width: 640px)', {
                chartPadding: 30,
                labelOffset: 10,
                labelInterpolationFnc: function(value) {
                    return value;
                }
            }],
            ['screen and (min-width: 1024px)', {
                labelOffset: 20,
                chartPadding: 0,
            }]
        ];

        new Chartist.Pie('.ct-chart-form-3', data1, options, responsiveOptions);
    </script>
{% endblock javascripts %}