{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <img src="{{ asset('build/images/zurich-logo.png') }}" alt="">
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="{{ path('form_1') }}">Unternehmensdaten</a>
                </li>
                <li>
                    <a href="{{ path('form_2') }}">Haftungsrisiken</a>
                </li>
                <li>
                    <a href="{{ path('form_3') }}">Gebäude-Werte</a>
                </li>
                <li>
                    <a href="{{ path('form_4') }}">Inhalt-Werte</a>
                </li>
                <li>
                    <a href="{{ path('form_5') }}">Elektronik/Maschinen-Werte</a>
                </li>
                <li>
                    <a href="{{ path('form_6') }}">Unterbrechung Ihres Betriebes</a>
                </li>
                <li>
                    <a href="{{ path('form_7') }}">Kosten bei Rechtsangelegenheiten</a>
                </li>
                <li>
                    <a href="{{ path('form_8') }}">Transporte</a>
                </li>
                <li>
                    <a href="{{ path('form_9') }}">Kfz-Risiken</a>
                </li>
                <li>
                    <a href="{{ path('form_10') }}">Spezial-Risiken</a>
                </li>
                <li>
                    <a href="{{ path('form_11') }}">Mitarbeiter</a>
                </li>
                <li>
                    <a href="{{ path('form_12') }}">Belegschaft / Inhabers / GGf / etc.</a>
                </li>
                <li>
                    <a href="{{ path('form_13') }}">Offene Punkte und weiteres Vorgehen</a>
                </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a  href="{{ path('analyse') }}" class="resume mt-3"><i class="fas fa-sliders-h"></i> Analyse</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <ul class="nav navbar-nav navbar-expand ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('selectuser') }}"><i class="fas fa-users"></i> Kunden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}"><i class="fas fa-sign-out-alt"></i> Abmelden</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-10">
                        <h3>Unternehmensdaten</h3>
                    </div>
                    <div class="col-2 float-sm-right text-right">
                        <a href="{{ path('form_2') }}" class="btn btn-success">Speichern</a>
                    </div>
                </div>
                <div class="line"></div>
                <form>
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <label for="company">Was ist die aktuelle Situation in Ihrem Unternehmen?</label>
                                    <textarea type="text-area" class="form-control" id="place" rows="2" placeholder=""></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <label for="user">Was sind Ihre Wünsche, Ziele und Erwartungen an das heutige Gespräch?</label>
                                    <textarea type="text-area" class="form-control" id="place" rows="2" placeholder=""></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <label for="place">Hat sich Ihre Tätigkeit seit unserem letzen Gespräch verändert? Wenn ja, was ist neu?</label>
                                    <textarea type="text-area" class="form-control" id="place" rows="2" placeholder=""></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <label for="place">Planen Sie eine Anpassung Ihrer Taätigkeit? Wenn ja, welche und wann?</label>
                                    <textarea type="text-area" class="form-control" id="place" rows="2" placeholder=""></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <label for="place">Wie ist Ihre aktuelle Inhaber-/Geschäftsführerstruktur? Sind ggf. Änderungen geplant?</label>
                                    <textarea type="text-area" class="form-control" id="place" rows="2" placeholder=""></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xl-6">
                            <div class="card">
                                <div class="card-body aligner">
                                    <div class="row aligner-item">
                                        <label class="col-sm-9 col-form-label" for="place">Welchen Umsatz (ohne MWSt.) haben Sie im abgelaufenen Geschäftjahr erzielt?</label>
                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">€</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="card">
                            <a class="info-button" href="#"><i class="fa fa-info-circle"></i></a>
                            <div class="card-body">
                                <div class="card-title"> Wie ist Ihre aktuelle Mitarbeiterstruktur?</div>
                                <div class="form-row">
                                    <div class="form-group col-xl-3">
                                        <label for="inputEmail4">Anzahl Gesamt</label>
                                        <input type="text" class="form-control" id="inputEmail4" placeholder="">
                                    </div>
                                    <div class="form-group col-xl-3">
                                        <label for="inputPassword4">davon Teilzeit</label>
                                        <input type="text" class="form-control" id="inputPassword4" placeholder="">
                                    </div>
                                    <div class="form-group col-xl-6">
                                        <label for="inputPassword4">Lohn und Gehaltssumme im abgelaufenen Geschäftsjahr</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">€</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-xl-3">
                                        <label for="inputEmail4">kaufmännisch Anzahl</label>
                                        <input type="text" class="form-control" id="inputEmail4" placeholder="">
                                    </div>
                                    <div class="form-group col-xl-3">
                                        <label for="inputPassword4">davon Teilzeit</label>
                                        <input type="text" class="form-control" id="inputPassword4" placeholder="">
                                    </div>
                                    <div class="form-group col-xl-6">
                                        <label for="inputPassword4">Lohn und Gehaltssumme im abgelaufenen Geschäftsjahr</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">€</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-xl-3">
                                        <label for="inputEmail4">Gewerblich Anzahl</label>
                                        <input type="text" class="form-control" id="inputEmail4" placeholder="">
                                    </div>
                                    <div class="form-group col-xl-3">
                                        <label for="inputPassword4">davon Teilzeit</label>
                                        <input type="text" class="form-control" id="inputPassword4" placeholder="">
                                    </div>
                                    <div class="form-group col-xl-6">
                                        <label for="inputPassword4">Lohn und Gehaltssumme im abgelaufenen Geschäftsjahr</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">€</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="card">
                            <div class="card-body">
                                <label for="place">Sinf ggf. Veränderungen der Mitarbeiterstruktur geplant?</label>
                                <textarea type="text-area" class="form-control" id="place" rows="3" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}