{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <img src="{{ asset('build/images/zurich-logo.png') }}" alt="">
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="{{ path('form_1') }}">Unternehmensdaten</a>
                </li>
            </ul>
            <ul class="list-unstyled components">
                <li>
                    <a href="{{ path('form_2') }}">Haftungsrisiken</a>
                </li>
                <li>
                    <a href="{{ path('form_3') }}">Gebäude-Werte</a>
                </li>
                <li>
                    <a href="{{ path('form_4') }}">Inhalt-Werte</a>
                </li>
                <li>
                    <a href="{{ path('form_5') }}">Elektronik/Maschinen-Werte</a>
                </li>
                <li>
                    <a href="{{ path('form_6') }}">Unterbrechung Ihres Betriebes</a>
                </li>
                <li>
                    <a href="{{ path('form_7') }}">Kosten bei Rechtsangelegenheiten</a>
                </li>
                <li class="active">
                    <a href="{{ path('form_8') }}">Transporte</a>
                </li>
                <li>
                    <a href="{{ path('form_9') }}">Kfz-Risiken</a>
                </li>
                <li>
                    <a href="{{ path('form_10') }}">Spezial-Risiken</a>
                </li>
                <li>
                    <a href="{{ path('form_11') }}">Mitarbeiter</a>
                </li>
                <li>
                    <a href="{{ path('form_12') }}">Belegschaft / Inhabers / GGf / etc.</a>
                </li>
                <li>
                    <a href="{{ path('form_13') }}">Offene Punkte und weiteres Vorgehen</a>
                </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a  href="{{ path('analyse') }}" class="resume"><i class="fas fa-sliders-h"></i> Analyse</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-top sticky-top navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    <ul class="nav navbar-nav navbar-expand ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('selectuser') }}"><i class="fas fa-users"></i> Kunden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}"><i class="fas fa-sign-out-alt"></i> Abmelden</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid mb-5">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Absicherung Ihrer Transporte</h3>
                    </div>
                </div>
                <div class="ct-chart-form-8 mt-3"></div>
                <div class="line"></div>
                <form>
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <div class="card h-100">
                                <div class="card-body aligner">
                                    <div class="row aligner-item">
                                        <label class="col-sm-9 col-form-label" for="user">Wie hoch ist der Wert an eingenen Gütern und Werzeugen, die Sie max. transportieren?</label>
                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">€</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xl-6">
                            <div class="card h-100">
                                <div class="card-body aligner">
                                    <div class="aligner-item">
                                        <label for="user">Wird Ware mit Spedition oder Paketdienst bewegt?</label>
                                        <div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">mit Spedition</label>
                                            </div>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2">mit Paketdienst</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <div class="card h-100">
                                <div class="card-body aligner">
                                    <div class="aligner-item">
                                        <p>Sind sie aktuell in folgenden Rechtsbereichen abgesichert?</p>
                                        <div class="row">
                                            <div class="col">
                                                <label for="user">mit Spedition</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2">€</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label for="user">mit Paketdienst</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2">€</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xl-6">
                            <div class="card h-100">
                                <div class="card-body">
                                    <label for="place">Notizen</label>
                                    <textarea type="text-area" class="form-control" id="place" rows="2" placeholder=""></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-bottom fixed-bottom navbar-light justify-content-end">
        <a href="#" class="btn btn-success"><i class="fas fa-check"></i> Speichern</a>
    </nav>
{% endblock %}