{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <img src="{{ asset('build/images/zurich-logo.png') }}" alt="">
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="{{ path('form_1') }}">Unternehmensdaten</a>
                </li>
                <li class="active">
                    <a href="{{ path('risks') }}">Risiken ermitteln</a>
                </li>
            </ul>
            <ul class="list-unstyled components">
                <li id="item_customCheck2">
                    <a href="{{ path('form_2') }}">Haftungsrisiken</a>
                </li>
                <li id="item_customCheck3">
                    <a href="{{ path('form_3') }}">Gebäude-Werte</a>
                </li>
                <li id="item_customCheck4">
                    <a href="{{ path('form_4') }}">Inhalt-Werte</a>
                </li>
                <li id="item_customCheck5">
                    <a href="{{ path('form_5') }}">Elektronik/Maschinen-Werte</a>
                </li>
                <li id="item_customCheck6">
                    <a href="{{ path('form_6') }}">Unterbrechung Ihres Betriebes</a>
                </li>
                <li id="item_customCheck7">
                    <a href="{{ path('form_7') }}">Kosten bei Rechtsangelegenheiten</a>
                </li>
                <li id="item_customCheck8">
                    <a href="{{ path('form_8') }}">Transporte</a>
                </li>
                <li id="item_customCheck9">
                    <a href="{{ path('form_9') }}">Kfz-Risiken</a>
                </li>
                <li id="item_customCheck10">
                    <a href="{{ path('form_10') }}">Spezial-Risiken</a>
                </li>
                <li id="item_customCheck11">
                    <a href="{{ path('form_11') }}">Mitarbeiter</a>
                </li>
                <li id="item_customCheck12">
                    <a href="{{ path('form_12') }}">Belegschaft / Inhabers / GGf / etc.</a>
                </li>
                <li>
                    <a href="{{ path('form_13') }}">Offene Punkte und weiteres Vorgehen</a>
                </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a  href="{{ path('analyse') }}" class="resume"><i class="fas fa-sliders-h"></i> Analyse</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-top sticky-top navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <ul class="nav navbar-nav navbar-expand ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('selectuser') }}"><i class="fas fa-users"></i> Kunden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}"><i class="fas fa-sign-out-alt"></i> Abmelden</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid mb-5 mt-3">
                <div class="row">
                    <div class="col-xl-4">
                        <div id="card_company" class="card card-item pull-up">
                            <img class="card-img-top" src="https://www.zurich.de/_/media/dbe/germany/images/geschaeftskunden/sach-technik-und-transport/sachversicherung-1250x417.jpg?h=417&la=de-DE&w=1250&hash=7A93BD8FC396ADAEC237411BF5D7D7A5F4D00B98" alt="Card image cap">
                            <h5 class="card-title card-title-img">Risiken des Unternehmens</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Haftungsrisiken</strong></li>
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input w-100" id="customCheck2" checked>
                                        <label class="custom-control-label w-100" for="customCheck2">Haftungsrisiken</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input w-100" id="customCheck7" checked>
                                        <label class="custom-control-label w-100" for="customCheck7">Kosten bei Rechtsangelegenheiten</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input w-100" id="customCheck10" checked>
                                        <label class="custom-control-label w-100" for="customCheck10">Spezial-Risiken</label>
                                    </div>
                                </li>
                                <li class="list-group-item"><strong>Sachsubstanz</strong></li>
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input w-100" id="customCheck3" checked>
                                        <label class="custom-control-label w-100" for="customCheck3">Gebäude-Werte</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input w-100" id="customCheck4" checked>
                                        <label class="custom-control-label w-100" for="customCheck4">Inhalt-Werte</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input w-100" id="customCheck5" checked>
                                        <label class="custom-control-label w-100" for="customCheck5">Elektronik/Maschinen-Werte</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input w-100" id="customCheck8" checked>
                                        <label class="custom-control-label w-100" for="customCheck8">Transporte</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input w-100" id="customCheck9" checked>
                                        <label class="custom-control-label w-100" for="customCheck9">Kfz-Risiken</label>
                                    </div>
                                </li>
                                <li class="list-group-item"><strong>Ertragsausfall</strong></li>
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input w-100" id="customCheck6" checked>
                                        <label class="custom-control-label w-100" for="customCheck6">Unterbrechung Ihres Betriebes</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div id="card_decider" class="card card-item pull-up">
                            <img class="card-img-top" src="https://www.zurich.de/_/media/dbe/germany/images/geschaeftskunden/entscheiderschutz_1250x417.jpg?h=417&la=de-DE&w=1250&hash=88C8DCDBDA2D62AF878DA7E775B1353E9EA41A7C" alt="Card image cap">
                            <h5 class="card-title card-title-img">Risiken des Entscheiders</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input w-100" id="customCheck12" checked>
                                        <label class="custom-control-label w-100" for="customCheck12">Belegschaft / Inhabers / GGf / etc.</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div id="card_staff" class="card card-item pull-up">
                            <img class="card-img-top" src="https://www.zurich.de/_/media/dbe/germany/images/geschaeftskunden/betriebliche-altersvorsorge/bav_pflanze_1250x417.jpg?h=417&la=de-DE&w=1250&hash=287044AAA606334BC62290844187E66F401B8C53" alt="Card image cap">
                            <h5 class="card-title card-title-img">Risiken der Mitarbeiter</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input w-100" id="customCheck11" checked>
                                        <label class="custom-control-label w-100" for="customCheck11">Absicherung Mitarbeiter</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-bottom fixed-bottom navbar-light justify-content-end">
        <a href="#" class="btn btn-success"><i class="fas fa-check"></i> Speichern</a>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("input[type=checkbox]").on("change", function(){
                if($(this).is(":not(:checked)")) {
                    $('#item_' + $(this).attr('id')).css('display', 'none');
                } else {
                    $('#item_' + $(this).attr('id')).css('display', 'block');
                }
            });
        });
    </script>
{% endblock %}