{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <img src="{{ asset('build/images/zurich-logo.png') }}" alt="">
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="{{ path('form_1') }}">Unternehmensdaten</a>
                </li>
                <li class="active">
                    <a href="{{ path('risks') }}">Risiken ermitteln</a>
                </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a  href="{{ path('form_2') }}" class="btn-primary mt-3"><i class="fas fa-sliders-h"></i> Jahresgespräch</a>
                </li>
                <li>
                    <a  href="{{ path('analyse') }}" class="resume mt-3"><i class="fas fa-sliders-h"></i> Analyse</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <ul class="nav navbar-nav navbar-expand ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('selectuser') }}"><i class="fas fa-users"></i> Kunden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}"><i class="fas fa-sign-out-alt"></i> Abmelden</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Risiken ermitteln</h3>
                    </div>
                </div>
                <div class="line"></div>
                <form>
                    <h3>Risiken des Unternehmens</h3>
                    <h3>Sachsubstanz</h3>
                    <h3>Ertragsausfall</h3>
                    <h3>Haftungsrisiken</h3>
                    <h2>Risiken des Entscheiders</h2>
                    <h3>Vorsorge</h3>
                    <h3>Haftung</h3>
                    <h3>Private Risiken</h3>
                    <h3>Unfall</h3>
                    <h3>Gesundheit/Pflege</h3>
                    <h2>Risiken des Mitarbeiter</h2>
                    <h3>Krankenversicherung</h3>
                    <h3>Altersvorsorge</h3>
                    <h3>Unfallschutz</h3>
                    <div class="row">
                        <div class="col-12 float-sm-right text-right mb-5">
                            <a href="#" class="btn btn-success">Speichern</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}