{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <img src="{{ asset('build/images/zurich-logo.png') }}" alt="">
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="{{ path('form_1') }}">Unternehmensdaten</a>
                </li>
                <li class="active">
                    <a href="{{ path('risks') }}">Risiken ermitteln</a>
                </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a  href="{{ path('form_2') }}" class="btn-primary mt-3"><i class="fas fa-sliders-h"></i> Jahresgespräch</a>
                </li>
                <li>
                    <a  href="{{ path('analyse') }}" class="resume mt-3"><i class="fas fa-sliders-h"></i> Analyse</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-top sticky-top navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <ul class="nav navbar-nav navbar-expand ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('selectuser') }}"><i class="fas fa-users"></i> Kunden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}"><i class="fas fa-sign-out-alt"></i> Abmelden</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <h5 class="card-title">Linde Material Handling GmbH
                    <a href="{{ path('form_1') }}"><i class="fas fa-edit"></i></a>
                </h5>
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Risiken ermitteln</h3>
                    </div>
                </div>
                <div class="line"></div>
                <form class="form-row">
                    <div class="col">
                        <h3>Risiken des Unternehmens</h3>
                        <h4>Haftungsrisiken</h4>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
                            <label class="custom-control-label" for="customCheck2">Haftungsrisiken</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck7" checked>
                            <label class="custom-control-label" for="customCheck7">Rechtsschutz</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck10" checked>
                            <label class="custom-control-label" for="customCheck10">Spezial-Risiken</label>
                        </div>
                        <h4>Sachsubstanz</h4>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck3" checked>
                            <label class="custom-control-label" for="customCheck3">Gebäude</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck4" checked>
                            <label class="custom-control-label" for="customCheck4">Inhalt</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck5" checked>
                            <label class="custom-control-label" for="customCheck5">Elektronik</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck8" checked>
                            <label class="custom-control-label" for="customCheck8">Werksverkehr</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck9" checked>
                            <label class="custom-control-label" for="customCheck9">Kfz-Risiken</label>
                        </div>
                        <h4>Ertragsausfall</h4>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck6" checked>
                            <label class="custom-control-label" for="customCheck6">Betriebsunterbrechung</label>
                        </div>
                    </div>
                    <div class="col">
                        <h3>Risiken des Entscheiders</h3>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck12" checked>
                            <label class="custom-control-label" for="customCheck12">Vorsorge Inhaber / GGF</label>
                        </div>
                    </div>
                    <div class="col">
                        <h3>Risiken des Mitarbeiter</h3>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck11" checked>
                            <label class="custom-control-label" for="customCheck11">Absicherung Mitarbeiter</label>
                        </div>
                        <div class="row">
                            <div class="col-12 float-sm-right text-right mb-5">
                                <a href="#" class="btn btn-success">Speichern</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}